[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/
*.log
BaoCao.aux
BaoCao.log
BaoCao.out
BaoCao.toc
BaoCao.synctex.gz
BaoCao.fls
BaoCao.fdb_latexmk
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.svg
images/

